@import "@/styles/variables.scss";

.api-page-btn {
    color: #f5f5f5;
    white-space: nowrap;
    display: flex;
    margin: 20px 50%;
    padding: 15px 25px;
    border-radius: 16px;
    background-color: $color-success;
}
.scroll-view {
    height: 400px;
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.scroll-area {
    height: 2600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.notice {
    margin-top: 300px;
}

.ball {
    width: 400px;
    height: 400px;
    background: #1aad19;
    border-radius: 50%;
}

.filling {
    height: 800px;
}

.message {
    width: 100%;
    display: flex;
    justify-content: center;
}

.message text {
    font-size: 80px;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}
.text{
    padding:10px;
    font-size: 14px;
}